<div class="page">
    <section>
        <div>
            <h1>Contato</h1>
            <div>
                Precisa esclarecer uma dúvida? Fazer um elogio, sugestão, ou reclamação? Nossos serviços não estavam na qualidade de seus sonhos? Entre em contato conosco, e vamos garantir que sempre terão a melhor experiência possível na Pérola do Litoral.
            </div>
        </div>
    </section>
    <section>
        <div>
            Telefone: (00)0000-0000<br>
            Whatsapp: (00)00000-0000<br>
            E-Mail: contato&#64;peroladolitoral.com.br<br>
        </div>
    </section>
</div>