<div class="page">
    <section>
        <div class="banner"></div>
    </section>
    <section>
        <div class="columns line-perola">
            <div class="columns-col-left">
                <p>Pérola do litoral, descrição.</p>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quos dolorem nostrum saepe veritatis dicta provident assumenda. Totam sapiente perferendis voluptates eveniet similique, eum, odio saepe, quaerat pariatur labore harum laborum!</p>
                <a class="meet-btn" href="/restaurante">Conhecer</a>
            </div>
            <div class="columns-col-right">
                <p>Pérola do litoral, imagem.</p>
            </div>
        </div>
    </section>
    <section>
        <div class="columns line-madrep">
            <div class="columns-col-left">
                <p>Madrepérola, imagem.</p>
            </div>
            <div class="columns-col-right">
                <p>Madrepérola, descrição.</p>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quos dolorem nostrum saepe veritatis dicta provident assumenda. Totam sapiente perferendis voluptates eveniet similique, eum, odio saepe, quaerat pariatur labore harum laborum!</p>
                <a class="meet-btn" href="/bar">Conhecer</a>
            </div>
        </div>
    </section>
    <section>
        <div class="columns line-buffet">
            <div class="columns-col-left">
                <p>Buffet, descrição.</p>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quos dolorem nostrum saepe veritatis dicta provident assumenda. Totam sapiente perferendis voluptates eveniet similique, eum, odio saepe, quaerat pariatur labore harum laborum!</p>
                <a class="meet-btn" href="/buffet">Conhecer</a>
            </div>
            <div class="columns-col-right">
                <p>Buffet, imagem.</p>
            </div>
        </div>
    </section>
</div>