<div class="page">
    <section>
        <div class="banner"></div>
    </section>
    <section>
        <div>
            <h1>Pérola do Litoral</h1>
            <h2>Cardápio do dia</h2>
            <div>
                Placeholder.
                Vou criar uma tabela que pode ser atualizada apenas pela parte administrativa.
                Para comer conosco.
            </div>
        </div>
    </section>
    <section>
        <div>
            <h2>Faça sua reserva</h2>
            <div>
                Formulário:
                <ul>
                    <li>Nome da reserva</li>
                    <li>Telefone/celular</li>
                    <li>Email (opcional)</li>
                    <li>Quantidade de pessoas</li>
                    <li>Data e hora desejados</li>
                    <li>Lista de mesas (selecione uma, e deixe o resto com a gente)</li>
                </ul>
            </div>
        </div>
    </section>
    <section>
        <div>
            <h2>Cardápio do dia</h2>
            <div>
                Placeholder.
                Vou criar uma tabela que pode ser atualizada apenas pela parte administrativa.
                Para comer no conforto de sua casa.
            </div>
        </div>
    </section>
</div>