<div class="page">
    <section>
        <div class="banner"></div>
    </section>
    <section>
        <div>
            <h1>Sobre nós</h1>
            <div>
                <p>O Pérola do Litoral tem sua história datando desde 1961 quando Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore ipsam numquam illum corporis, qui soluta expedita, accusantium molestiae officia laudantium veniam aspernatur, atque consequatur quae veritatis harum voluptatum laborum minima!</p>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptatum blanditiis dicta iste ducimus, esse deleniti cum quisquam delectus ipsum ullam fuga! Velit, quia dolorem soluta maxime ratione quod asperiores voluptate.</p>
            </div>
        </div>
    </section>
</div>