<div class="page">
    <section>
        <div class="banner"></div>
    </section>
    <section>
        <div>
            <h1>Buffet Pérola do Litoral</h1>
            <h2>Apresentação</h2>
            <div>
                Gostaria de um espaço exclusivo para suas datas mais especiais?<br>
                Galeria com algumas fotos de momentos de clientes.
            </div>
        </div>
    </section>
    <section>
        <div>
            Planta do salão
        </div>
    </section>
    <section>
        <div>
            <h2>Cardápio</h2>
            <div>
                Lista de:
                <ul>
                    <li>Doces (porções e pratos)</li>
                    <li>Salgados (porções e pratos)</li>
                    <li>Saladas (porções e pratos)</li>
                    <li>Bebidas não alcoólicas</li>
                    <li>Bebidas alcoólicas</li>
                </ul>
                Confira nossas variedades vegetarianas e veganas, e nossas deliciosas receitas exclusivas. Para dúvidas sobre variedades e presença de gluten e outros possíveis alérgenos nos alimentos, entre em <a href="">contato</a> conosco.
            </div>
        </div>
    </section>
    <section>
        <div>
            <h2>Faça sua reserva</h2>
            <div>
                Formulário:
                <ul>
                    <li>Nome da reserva</li>
                    <li>Telefone/celular</li>
                    <li>Email (opcional)</li>
                    <li>Quantidade de pessoas</li>
                    <li>Data e hora desejados</li>
                    <li>Lista de mesas (selecione uma, e deixe o resto com a gente)</li>
                </ul>
            </div>
        </div>
    </section>
    <section>
        <div>
            <h2>Kits de Festa</h2>
            <div>
                Quer comemorar com todo o sabor da Pérola do Litoral em sua casa? Confira nossos kits de festa.<br>
                Monte seus kits de acordo com o tamanho e com as variedades desejadas. Algumas opções podem acarretar acréscimos no valor final.
                <ul>
                    <li>Kit pequeno (serve até 5 pessoas)</li>
                    <li>Kit médio (serve até 10 pessoas)</li>
                    <li>Kit grande (serve até 20 pessoas)</li>
                    <li>Pratos, doces e bolos (variam com os pesos)</li>
                </ul>
                Ao selecionar as opções, adiciona um card com espaços de variedades e quantidades, e um campo de observações.<br>
                Telefone, celular ou email para confirmação, e data e hora de retirada.
            </div>
        </div>
    </section>
</div>