@import "../../styles.scss";

.header {
    // width: 100%;
    background-color: $madrep-primary-color;
    display: flex;
    padding: 1rem;

    &-menu {
        display: flex;
        margin-left: auto;
        flex-direction: row;
    }

    a {
        padding: 0 1rem;
    }
}