<div class="page">
    <section>
        <div class="banner"></div>
    </section>
    <section>
        <div>
            <h1>Madrepérola</h1>
            <h2>Cardápio do dia</h2>
            <div>
                Placeholder.
                Vou criar uma tabela que pode ser atualizada apenas pela parte administrativa.
                Para comer conosco.
            </div>
        </div>
    </section>
    <section>
        <div>
            <h2>Cardápio do dia</h2>
            <div>
                Placeholder.
                Vou criar uma tabela que pode ser atualizada apenas pela parte administrativa.
                Para comer no conforto de sua casa.
            </div>
        </div>
    </section>
    <section>
        <div>
            <h2>Faça sua reserva</h2>
            <div>
                Formulário:
                <ul>
                    <li>Nome da reserva</li>
                    <li>Telefone/celular</li>
                    <li>Email (opcional)</li>
                    <li>Quantidade de pessoas</li>
                    <li>Data e hora desejados</li>
                    <li>Lista de mesas (selecione uma, e deixe o resto com a gente)</li>
                </ul>
            </div>
        </div>
    </section>
    <section>
        <div>
            <h2>Apresentações</h2>
            <div>
                Veja quem estará aqui para fazer sua noite ainda melhor. Aproveite músicas e shows ao vivo!
                Vou criar uma tabela que pode ser atualizada apenas pela parte administrativa.
                Lista de datas e horas. Ao clicar, mostra a apresentação mais caprichada.
                <ul>
                    <li>Nome do grupo.</li>
                    <li>Breve descrição.</li>
                    <li>Data e hora da apresentação.</li>
                    <li>Foto de propaganda, ou placeholder.</li>
                    <li>Botão de reserva (abre o menu de reserva com a data e hora da apresentação já preenchidas)</li>
                </ul>
            </div>
        </div>
    </section>
</div>