<div class="footer">
    <a routerLink="/">Início</a><br>
    <a routerLink="/restaurante" routerLinkActive="active" ariaCurrentWhenActive="page">Pérola do Litoral</a><br>
    <a routerLink="/bar" routerLinkActive="active" ariaCurrentWhenActive="page">Madrepérola</a><br>
    <a routerLink="/buffet" routerLinkActive="active" ariaCurrentWhenActive="page">Buffet</a><br>
    <a routerLink="/contato" routerLinkActive="active" ariaCurrentWhenActive="page">Contato</a><br>
    <a routerLink="/sobre-nos" routerLinkActive="active" ariaCurrentWhenActive="page">Sobre Nós</a><br>
</div>