@import "../../styles.scss";

.footer {
    // width: 100%;
    background-color: $madrep-primary-color;
    display: flex;
    padding: 1rem;

    &-column {
        width: 33%;
        
        a, p {
            padding: 0 1rem;
        }
    }

}