<div class="footer">
    <div class="footer-column">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis porro quaerat distinctio laudantium et. In adipisci hic nihil totam natus odit eos illum, distinctio eveniet laboriosam facilis error, cupiditate accusamus?</p>
        <p>Venha nos visitar!</p>
        <p>Alameda das Lavandas, 14</p>
    </div>
    <div class="footer-column">
        <a routerLink="/">Início</a><br>
        <a routerLink="/restaurante" routerLinkActive="active" ariaCurrentWhenActive="page">Pérola do Litoral</a><br>
        <a routerLink="/bar" routerLinkActive="active" ariaCurrentWhenActive="page">Madrepérola</a><br>
        <a routerLink="/buffet" routerLinkActive="active" ariaCurrentWhenActive="page">Buffet</a><br>
        <a routerLink="/contato" routerLinkActive="active" ariaCurrentWhenActive="page">Contato</a><br>
        <a routerLink="/sobre-nos" routerLinkActive="active" ariaCurrentWhenActive="page">Sobre Nós</a><br>
    </div>
    <div class="footer-column">
        <p>Nossas redes:</p>
        <a routerLink="/">Facebook</a><br>
        <a routerLink="/">Instagram</a><br>
        <a routerLink="/">X (Twitter)</a><br>
    </div>
</div>